* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 400vh;  
  background-color: rgb(8, 8, 8);
  
}

div{

    position: relative;
    height: 500px;
}

#catagory div h1 {
    background-color: rgba(71, 52, 52, 0.3);
    color: rgb(17, 17, 17);
    height: 50px;
    text-align: center;
   font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 2px;
    position: sticky;
    top: 0;
}
.Bmw{
    background-image: url(/assets/cars/1063bd90932357.5eeb59988c45f.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.Mercedes{
    background-image: url(/assets/cars/DC7_8574.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.Dodge{
    background-image: url(/assets/cars/544a6f894bfc8ef4f54a574e24a80c7c.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.Mustang{
    background-image: url(/assets/cars/681489.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.Toyota{
    background-image: url(/assets/cars/Capture.PNG);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;

}
.cars ul li{
    
    list-style: none;
    font-style: italic;
    font-size: 25px;
    margin-top: 10px;
    margin-left: 10px;
    color: rgb(15, 15, 15);
}


.Bmw .cars ul li,.Mustang .cars ul li{
    color: rgb(131, 125, 118);
}

